@model IEnumerable<TeaChair.Models.Class>

@{
    ViewData["Title"] = "Tiers";
}

<h1>Tiers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max)
            </td>
            <td>
                @if (this.User.IsInRole("moder"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <a>|</a>
                }
                @if (this.User.IsInRole("moder"))
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> <a>|</a>
                }
                @if (this.User.IsInRole("moder"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                </td>
            
            </tr>
}
    </tbody>
</table>
